<footer>
  <div class="row row-cinza-claro">
    <div class="container">
      <div class="row">

        <div class="col-md-2 text-center hidden-xs">
          <img class="logotipo" src="../images/logo-orlando.png" width="150" height="150" alt="Logo Orlando City">
        </div>

        <div class="col-md-10">
          <div class="row row-cols">
            <div class="col-md-4 col-popular-post hidden-xs">
              <h4>POPULAR POSTS</h4>
              <ul>
                <li>
                  <h5>Lorem ipsum dolor sit amet.</h5>
                  <time>January 01, 2017</time>
                </li>
                <li>
                  <h5>Lorem ipsum dolor sit amet.</h5>
                  <time>January 01, 2017</time>
                </li>
              </ul>
            </div>


            <div class="col-md-4 col-links hidden-xs">
              <h4>LINKS</h4>
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-angle-right"></i> Tickets</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> News</a></li>
                <li><a href="/videos"><i class="fa fa-angle-right"></i> Videos</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-get-in-touch">
              <h4 class="hidden-xs">GET IN TOUCH</h4>

              <address class="hidden-xs">
                <i class="fa fa-map-marker"> </i> <span>618 E. South Street, Suite 510<br />Orlando, FL 32801</span>
              </address>
              <p class="hidden-xs"><a href="tel:1855ORLCITY"><i class="fa fa-phone"> </i>1.855.ORL.CITY</a></p>


              <div class="row-fluid visible-xs">
                <div class="col-xs-6">
                  <a href="#" class="btn btn-footer"><i class="fa fa-map-marker"></i>Location</a>
                </div>
                <div class="col-xs-6">
                  <a href="#" class="btn btn-footer"><i class="fa fa-phone"></i>Call</a>
                </div>
              </div>


              <ul class="list-unstyled list-socials">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </li>
                <li class="page-up">
                  <a href="#" id="page-up"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
            </div>

          </div>
        </div>  <!-- .col-md-10  -->
      </div>
    </div> <!-- .container  -->
  </div>


  <div class="row row-cinza-escuro">
    <div class="container copyright-mobile">
      <p class="pull-left">Copyright Orlando City Soccer 2017. All rights reserved. </p>
      <p class="pull-right text-roxo">Created by <a href="https://github.com/marlonfurtado/OrlandoCity" target="_blank">Marlon Furtado</a> in Udemy</p>
    </div>
  </div>

  <script type="text/javascript" src="/javascripts/jquery.min.js" ></script>
  <script type="text/javascript" src="/owl-carousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" ></script>
  <script type="text/javascript" src="/javascripts/effects.js" ></script>

</footer>
