@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
  font-size: 1em;
}


#banner {
  width: 100%;
  height: 728px;
  position: relative;
  background: url("../images/banner.jpg") no-repeat;
  background-position: 0 -100px;
  top: -130px;
}
#banner h1 {
  color: #FFF;
  top: 300px;
  position: relative;
  font-size: 92px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: "OpenSans-Light";
  margin-left: 50px;
}
#banner h1 small {
  font-size: 32px;
  display: block;
  color: #FFF;
  font-weight: bold;
}


#news {
  position: relative;
  top: -110px;
}
#news h2 {
  color: #5E2799;
  font-family: "OpenSans-Light";
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
#news hr {
  border: #FDE192 solid 4px;
  width: 200px;
  margin: 0 auto;
}
#news .thumbnails {
  margin-top: 20px;
}
#news .thumbnails h3 {
  color: #5E299A;
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: bold;
  margin-bottom: 0;
}
#news .thumbnails time {
  color: #A7A7A7;
  font-size: 14px;
  font-family: "OpenSans";
}
#news .thumbnails .item-inner {
  padding: 10px;
}
#news .thumbnails .item-inner img {
  width: 100%;
}

#estatisticas {
  background-color: #5E2799;
  width: 100%;
  height: 200px;
  text-align: center;
}
#estatisticas p {
  color: #FDE892;
  text-transform: uppercase;
  font-family: "OpenSans-Light";
  font-size: 64px;
  margin-top: 36px;
}
#estatisticas p small {
  color: #FFF;
  font-size: 24px;
  display: block;
}


#call-to-action {
  text-align: center;
  margin-top: 105px;
}
#call-to-action h2 {
  color: #5E2799;
  font-family: "OpenSans-Light";
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
#call-to-action hr {
  border: #FDE192 solid 4px;
  width: 200px;
  margin: 0 auto;
}
#call-to-action p {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #656565;
}
#call-to-action .btn {
  min-width: 164px;
  height: 44px;
  line-height: 34px;
  border-radius: 2px;
}
#call-to-action .btn-roxo {
  color: #FFF;
  background-color: #5E299A;
  border-color: #5E299A;
}
#call-to-action .btn-amarelo {
  color: #000;
  background-color: #FDE192;
  border-color: #FDE192;
}
#call-to-action .row-max-400 {
  margin: 0 auto;
  max-width: 400px;
}

#btn-bars, #btn-search,
#btn-news-prev, #btn-news-next {
  display: none;
}
